@import '../../scss/variables';

.order {
  position: relative;
  width: 950px;
  cursor: pointer;

  &__a {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__img-div {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
  }
  &__amount{
    width: 200px;
    font-size: 20px;
    font-weight: 300; 
    margin-right: 30px;
  }

  &__sum{
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: 300; 
    margin-right: 30px;
    padding-bottom: 8px;
    border-bottom: solid 1px #808080;
    border-radius: 1px;
  }

  &__product{
    display: flex;
    width: 1240px;
    height: 150px;
    margin-bottom: 15px;
    padding-left: 25px;
    text-align: left;
  }

  &__name {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 5s 00;
  }

  &__img {
    height: 100%;
  }

  &__description {
    display: inline-block;
    width: 500px;
    margin-bottom: 11px;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 400;
  }

  &__author {
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: 300;
  }

  &__price {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
  }

  &__old-price {
    margin: 6px 0 0;
    font-size: 16px;
    color: $gray;
    text-decoration: line-through;
  }

  &__counter-div {

    z-index: 2;
    width: fit-content;
  }

  &__price-and-counter {
    z-index: 2;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 42px;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 38px;

    &_in-basket {
      background-color: $green;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $dark-green;
      }
    }
  }

  &__discount {
    position: absolute;
    top: 0;
    left: 8px;
    padding: 5px 6px;
    font-size: 20px;
    color: $text-light;
    background-color: $primary;
    border-radius: 7px;
  }

  &__like {
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 2;
    cursor: pointer;
    fill: $text;
    transition: fill 0.3s ease;

    &:hover {
      fill: $primary;
    }

    &_active {
      fill: $primary;
    }
  }
}
