@import '../../../scss/variables';

.product-list {
  @media (min-width: 1080px) {
    width: 100%;
  }

  &_not-found {
    padding: 180px 0;
    font-size: 24px;
    color: $gray;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 60px;
    justify-content: space-between;
    margin: 0 0 45px;

    @media (max-width: 1080px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    @media (max-width: 900px) {
      column-gap: 40px;
    }

    @media (max-width: 570px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
