@import '../../../scss/variables';

.select {
  position: relative;
  width: 220px;
  padding: 0 12px;
  font-weight: 300;
  line-height: 1.2;
  color: $text;
  cursor: pointer;
  user-select: none;
  background-color: $background-light;

  &__icon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    width: 13px;
    height: 7px;
    fill: $text;
    transition: transform 0.3s ease;
    transform: translateY(-50%);

    &_open {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__option-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 10px;
    visibility: hidden;
    background-color: $background-light;
    border-radius: 10px;
    box-shadow: -1px 1px 33px -1px rgba(34, 60, 80, 0.2);
    opacity: 0;
    transition: all 0.25s ease;

    &_open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__option {
    padding: 8px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $light-gray;
    }

    &_selected,
    &_selected:hover {
      color: $text-light;
      background-color: $primary;
    }
  }
}
