@import '../../scss/variables';

.product-sort {
  display: flex;
  align-items: center;

  &__text {
    max-width: 130px;
    margin-right: 11px;
    font-size: 20px;
    font-weight: 300;
    color: $gray;

    @media (max-width: 440px) {
      display: none;
    }
  }

  &__select {
    padding: 10px;
  }
}
