@import '../../../scss/variables';

.checkbox {
  span {
    position: relative;
    padding: 0 0 0 30px;
    font-weight: 300;
    line-height: 1.2;
    cursor: pointer;
    user-select: none;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      border: 1px solid $gray;
      border-radius: 5px;
      transition: border-color 0.3s ease;
      transform: translateY(-50%);
    }
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + span::before {
      background: url('./check-icon.svg') center / 50% no-repeat;
    }

    &:not(:disabled, :checked) + span:hover::before {
      border-color: $dark-primary;
    }
  }
}
