@import '../../scss/variables';

.catalog-page {
  &__container {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  &__title {
    margin: 22px 0 30px;
    font-size: 30px;
    font-weight: 900;
  }

  &__content {
    display: flex;

    @media (max-width: 835px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 0 22px;

    @media (max-width: 835px) {
      align-items: center;
      padding: 0;
    }
  }

  &__sorter {
    margin: 0 0 40px;

    @media (max-width: 835px) {
      margin: 15px 0 40px;
    }
  }
}
